Defaults

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# node-waf configuration
.lock-wscript

# Dependency directories
node_modules/
jspm_packages/

# TypeScript cache
*.tsbuildinfo

# NPM cache
.npm

# Eslint cache
.eslintcache

# REPL history
.node_repl_history

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Jetbrains Webstorm
.idea/

# Exclude DS Store from Mac Users
.DS_Store

# ---------------------------------- Backend --------------------------------- #

# Swagger output
backend/docs/swagger.json

# Sai's scraper
backend/scraper/
backend/scrapers/

# Vercel
.vercel

# Claude
backend/.claude/
frontend/.claude/
.claude/
