@import 'variables';

.page-container {
  height: 100dvh;
  color: white;
  font-family: $poppins;
  display: flex;
  padding: 1rem;

  .left {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: $fg-dark-color;
    border-radius: 1rem;
    padding: 1rem;

    .user-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;

      .profile-img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
      }

      .username {
        font-size: 1.2rem;
      }
    }

    .field {
      display: flex;
      gap: 1rem;
      align-items: center;
      justify-content: center;
      background-color: $bg-dark-color;
      border-radius: 1rem;
      padding: 1rem;
    }
  }
  .right {
    flex: 2;
  }
}
